.toggle {
    width: 50px;
    height: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#line {
    width: 50%;
    height: 3px;
    background-color: black;
}