.toggle {
    width: 50px;
    height: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

#line {
    width: 50%;
    height: 3px;
    background-color: black;
}

.items {
    background-color: antiquewhite;
    width: 50px;
    height: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}